<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro&family=Orbitron&family=Ubuntu&display=swap'
      rel='stylesheet'
    />
    <style>

    </style>
  </head>
  <body>
    <header>
      <h1>Welcome to your Driver Dashboard</h1>
      <nav>
        <ul>
          <li><a class='nav' href='/dashboard'>Home</a></li>
          <li><a class='nav' href='/current-order'>Current Order</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}}

    <footer>
    </footer>
  </body>
</html>